<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet prefetch"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


        <style  type="text/css">
            h2 {
                margin-top: 2;
                margin-bottom: 2;
            }
            .truncate {
                overflow: hidden;
                white-space: nowrap;
            }
            .panel {
                min-height: 35;
                margin-bottom: 2;
            }
            .panel-heading {
                min-height: 35;
            }
            .panel-title {
                margin-left: -12;
            }
            .spin {
                -webkit-animation:spin 400ms linear infinite;
                -moz-animation:spin 400ms linear infinite;
                animation:spin 400ms linear infinite;
            }
            .allow:hover {
                background-color: Green;
            }
            .deny:hover {
                background-color: Red;
            }

            @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
            @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
        </style>
    </head>
    <body>
        <h2> Dude, kid is waiting. Click the button!  </h2>
        <div class="container" ng-app="dns-parent" ng-controller="appMain">
            <ul>
                <li ng-repeat="x in data">
                    <button 
                        class="btn btn-primary allow";
                        ng-click="allow(x)">
                        Allow
                    </button>
                    <button 
                        class="btn btn-primary deny";
                        ng-click="deny(x)">
                        Deny
                    </button>
                    <a href="http://{{x}}" target="_blank">{{x}}</a>
                </li> 
            </ul>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
        <script src="js/admin.js"></script>
    </body>
</html>
