<!DOCTYPE html>
<html>
    <head>
            <style  type="text/css">
                h2 {
                    margin-top: 2;
                    margin-bottom: 2;
                }
            .truncate {
                overflow: hidden;
                white-space: nowrap;
            }
            .panel {
                min-height: 35;
                margin-bottom: 2;
            }
            .panel-heading {
                min-height: 35;
            }
            .panel-title {
                margin-left: -12;
            }
            .spin {
                -webkit-animation:spin 400ms linear infinite;
                -moz-animation:spin 400ms linear infinite;
                animation:spin 400ms linear infinite;
            }
            @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
            @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
                </style>
            </head>
    <body>
        <h2> Dear, hold on a bit. Daddy is on it... </h2>
        <div class="container" ng-app="dns-child" ng-controller="appMain">
            <h2>{{status}}</h2>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
        <script src="js/landing.js"></script>
    </body>
</html>
